include README.md
include LICENSE
include MANIFEST.in
include Makefile
include requirements.txt
graft adabot
graft tests
graft docs
global-exclude *.mp3
global-exclude *.sqlite3
global-exclude __pycache__
global-exclude *.py[co]